<h1><%= @restaurant.name %></h1>

<ul>
  <li>Rating: <%= @restaurant.rating %></li>
  <li>Address: <%= @restaurant.address %></li>
</ul>

<%= link_to "Delete this restaurant", restaurant_path(@restaurant.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant.id) %>